display entry
<p>
  receiver : <%= @gift.fname2 %>
  receiver : <%= @gift.lname2 %>
  message : <%= @gift.message %>
  gifter : <%= @gift.fname1 %>
  gifter : <%= @gift.lname1 %>
  email : <%= @gift.email %>
</p>
